{% extends 'base.html.twig' %}

{% block body %}
    {% for task in tasks %}
        <div>
            Title: {{ task.title }} </br>
            Descritpion: {{ task.description }} </br>
            Category: {{ task.fkCategory.title}} </br>
            Status : {{ task.fkState.name }} </br>

            <a class="btn btn-primary" href="http://localhost/webProject/public/index.php/modifyTask/{{ task.id }}"> Modify </a>
            <a class="btn btn-primary" href="http://localhost/webProject/public/index.php/deleteTask/{{ task.id }}"> Delete </a>
        </div>
    {% endfor %}
{% endblock %}
